<section id="statistics">
  <h1>Statistics</h1>
  <%= "Average Age: #{facade.average_age}" %>
  <%= "List of Cities: #{facade.cities}" %>
</section>

<section class="comedians">
  <% facade.comedians.each do |comedian| %>
    <section id="comedian-<%= comedian.id %>">
      <%= image_tag("#{comedian.img_url}", :alt => "#{comedian.name}") %>
      <%= link_to comedian.name, comedian_path(comedian) %>
      <%= comedian.age %>
      <%= comedian.city %>
      <%= "Total number of specials: #{comedian.specials.count}" %>
      <% comedian.specials.each do |special| %>
        <%= special.name %>
        <%= special.runtime %>
      <% end %>
    </section>
  <% end %>
</section>
