<section class="comedians">
  <% @comedians.each do |comedian| %>
    <section id="comedian-<%= comedian.id %>">
      <%= image_tag("#{comedian.img_url}", :alt => "#{comedian.name}") %>
      <%= comedian.name %>
      <%= comedian.age %>
      <%= comedian.city %>
      <%= "Total number of specials: #{comedian.specials.count}" %>
      <% comedian.specials.each do |special| %>
        <%= special.name %>
        <%= special.runtime %>
      <% end %>
    </section>
  <% end %>
</section>
